
body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #fafafa;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 4%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    transition: 500ms;
}

header img {
    width: 150px;
}

header li{
    display: inline;
    color: rgba(255, 255, 255, 0.58);
    margin: 30px;
    transition: 300ms;
}

header li:hover{
    color: rgb(255, 255, 255);
}

header a{
    text-decoration: none;
}

/*__________________________Intro Page_______________________________*/

.introContainer{
    width: 100%;
    height: 100vh; /*Viewport Height*/
}

.introContainer img{
    width: 100%;
    height: 100%;
}

.dataCont{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 40%;
    font-weight: normal;
}

.dataCont h2{
    color: white;
    font-family: 'Comfortaa', cursive;
    font-weight: normal;
}

.overlayBlack{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.introInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
    flex-wrap: wrap;
}

.introCard{
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: -2px 2px 8px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 300ms;
    margin: 20px;
}

.introCard img{
    width: 100%;
    top: 0;
    border-radius: 15px 15px 0 0;
}

.introCard:hover{
    transform: translateY(-5px);
    box-shadow: -2px 2px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

.introCard h3{
    color: gray;
    text-align: center;
    font-weight: normal;
}

.introCard p{
    color: gray;
    text-align: justify;
    font-weight: normal;
    margin: 0 20px;
}

.socialBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 60%;
    right: 0;
    width: 5%;
    height: 30%;
    border-radius: 10px;
    transition: 500ms;
}

.socialBar i{
    color: white;
    transition: 300ms;
}

.socialBar i:hover{
    transform: translateY(-2px);
    cursor: pointer;
}

.title{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: #5c564a;
}

/*_________________HAMBURGER_____________________*/


.container {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 10px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*__________________________OVERLAY MENU___________________________*/

.overlayMenu{
    position: fixed;
    top: 106px;
    right: 0;
    height: 100%;
    width: 70%;
    background-color: rgba(43, 77, 90, 0.95);
    transform: translateX(100%);
    transition: 300ms;
}

/*_________________Footer_____________________*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #867d6c;
    height: 50vh;
    color: white;
    
}

footer h2{
    font-weight: normal;
    font-family: 'Comfortaa', cursive;
}

/*______________________________MOBILE___________________________________________*/

@media only screen and (max-width: 750px) {

    header{
        padding: 30px;
    }

    header li{
        display: none;
    }

    .dataCont{
        top: 18%;
        left: 10%;
        width: 70%;
        font-weight: normal;
    }

    .socialBar{
        width: 15%;
        height: 30%;
        border-radius: 10px;
        transition: 500ms;
    }

    .introContainer img{
        object-fit: cover;
    }

    .container{
        display: inline-block;
    }

    ul{
        margin-top: 30px;
    }

    li{
        list-style: none;
        margin-bottom: 30px;
        padding: 5px;
    }

    a{
        text-decoration: none;
        color: white;
        font-weight: normal;
        font-family: 'Comfortaa', cursive;
        font-size: 18px;
    }

}